@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">مرحبا بك في تطبيقي البنكي الأول</h1>
    <p>هذا اول مشروع لي باستخدام تقنية .net الاحترافية <a href="https://learn.microsoft.com/aspnet/core"></a>.</p>
</div>
